* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-worldmap {
    width: 100%;
}

.button-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
}



.list-item-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 100px;
    row-gap: 100px;
    margin: 50px 200px ;
    list-style: none;
}

.img-flag {
    width: 100px;
}

.region-europe {
    color: gold;
}

.region-africa {
    color: darkblue;
}

.region-americas {
    color: green;
}

.region-asia {
    color: firebrick;
}

.region-oceania {
    color: indigo;
}

.region-default {
    color: grey;
}