* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-worldmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

.button-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button-get-countries {
    background-color: darkslateblue;
    color: #F2F2F2;
    font-size: 20px;
    font-family: inherit;
    border-radius: 30px 30px;
    width: 200px;
    height: 60px;
    outline: none;
    border: solid 2px #1C2B32;
    padding: 0;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #F2F2F2;
    height: 0;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.input-style {
    font-size: 20px;
    font-family: inherit;
    border-radius: 30px 0 0 30px;
    background-color: transparent;
    padding: 20px;
    width: 300px;
    height: 60px;
    outline: none;
    border: solid 2px darkslateblue;
}

.button-search-style {
    background-color: darkslateblue;
    color: #F2F2F2;
    font-size: 20px;
    font-family: inherit;
    border-radius: 0 30px 30px 0;
    width: 200px;
    height: 60px;
    outline: none;
    border: solid 2px #1C2B32;
    padding: 0;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 5;
    flex-wrap: wrap;
    gap: 20px;
    width: 450px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.14) 0 3px 8px;
    border-radius: 15px;
}

.article-container-span {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.article-container-span > img {
    width: 30px;
}

.error-span {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.list-item-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 100px;
    row-gap: 100px;
    margin: 50px 200px;
    list-style: none;
}

.img-flag {
    width: 100px;
}

.region-europe {
    color: gold;
}

.region-africa {
    color: darkblue;
}

.region-americas {
    color: green;
}

.region-asia {
    color: firebrick;
}

.region-oceania {
    color: purple;
}

.region-default {
    color: grey;
}